<div class="artists-card">

    <hr>

    <h1><%= artist.name %> </h1>

    <% if (artist.images.length > 0) { %>
    <img src="<%= artist.images[0].url %>" alt="<%= artist.name %>">
    <% } else { %>
    <img src="/img/no-pic.png" alt="<%= artist.name %>">
    <% } %>

    <p>
        <a href=<%= `/albums/${artist.id}` %>>View Albums</a>
    </p>



    <!-- <a href="/details/<%= artist.id %>">
    <div class="artist-card-image"
        style="background: url('https://image.tmdb.org/t/p/w500<%= artist.poster_path %>') center/cover no-repeat;">
    </div>
    <p class="artist-card-title"><%= artist.title %></p>
    </a> -->
</div>